.create_post_page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .form_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    border: 1px solid #fef1e1;
    padding: 0.75rem;
    border-radius: 10px;

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      input,
      label,
      button {
        background-color: #fef1e1;
        color: #06070a;

        font-size: 1.5rem;
        border-radius: 50px;

        outline: none;
        border: none;

        padding-inline: 1rem;
        padding-block: 0.75rem;
      }
      label{
        cursor: pointer;
      }
      button {
        background-color: #fe350b;
      }
    }
    p{
      font-size: 1.5rem;
      .toggle{
        color: #fe350b;
      }
    }
  }
}
