* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}
body {
  color: #fff;
  background-color: #06070a;
}
.notes {
  padding: 1rem;
  color: red;
}
