main {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  .form_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    form {
      width: 25rem;

      display: flex;
      flex-direction: column;
      gap: 1rem;

      input,
      button {
        border: none;
        outline: none;

        padding-inline: 1rem;
        padding-block: 0.5rem;

        font-size: 1.2rem;

        border-radius: 5px;
      }

      button {
        background-color: #fc350b;
        color: #fef1e1;
        font-weight: 600;

        padding-block: 0.75rem;

        &:active {
          transform: scale(0.99);
        }
      }
    }
    p {
      font-size: 1.2rem;

      .toggle_auth_form {
        text-decoration: none;
        color: #fc350b;
      }
    }
  }
}
