main {
  padding: 1rem 2rem;

  form {
    width: 30rem;

    background-color: #6841f2;

    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    border: 2px solid #f2f2f2;
    border-radius: 0.75rem;

    margin-bottom: 1rem;
    padding: 0.75rem;

    input,
    textarea {
      border: none;
      outline: none;
      padding-block: 0.5rem;
      padding-left: 0.25rem;

      background-color: #f2f2f2;

      font-size: 1.5rem;

      border-radius: 0.25rem;
    }
    textarea {
      height: 10rem;
      resize: none;
    }

    button {
      font-size: 1.5rem;
      border: none;
      border-radius: 0.25rem;
      padding: 0.75rem;

      background-color: #f2f2f2;

      &:active {
        transform: scale(0.99);
      }
    }
  }

  .notes {
    width: 100%;
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
    .note {
      width: 30rem;
      background-color: #6841f2;
      border: 1px solid #f2f2f2;
      border-radius: 0.75rem;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding: 0.25rem;

      img {
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;

        // border-radius: 0.75rem;
        border-radius: 0.75rem 0.75rem 0 0;
      }

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1.2rem;
        overflow-wrap: break-word;
      }

      textarea {
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        resize: none;

        color: #f2f2f2;
      }

      .buttons {
        width: 100%;
        display: flex;
        gap: 0.5rem;

        margin-top: 0.75rem;
        button {
          width: 100%;
          padding: 0.7rem;
          border-radius: 0.25rem;
          border: none;

          background-color: #f2f2f2;

          font-size: 1.5rem;

          cursor: pointer;

          &:active {
            transform: scale(0.99);
          }
        }
      }
    }
  }
}
