* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  color: #fff;
  background-color: #060b1a;
}
main {
  width: 100%;
  height: 100%;
}
